/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/under-construction/styles.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.styles_main__0nBKF {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.styles_contact__9D3zz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.styles_title__KFIGd {
  font-size: 4rem;
  margin-bottom: 0.5rem;
  width: 100%;
}

.styles_sub-title__rUCYZ {
  border-top: 0.1rem solid #fff;
  padding: 1rem 4rem;
  text-align: center;
}

