# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
# Node modules در هر پروژه
**/node_modules/
/.pnp
.pnp.js

# testing
/coverage

# Build folders در هر پروژه
**/build/

# misc
# Env files در هر پروژه
**/.env*
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# لاگ‌ها
*.log
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*







